<ion-content>
  <ion-row >
    <ion-col class="bg-class">
      <span class="hola">¡Buenas Noches!</span>
    </ion-col>
  </ion-row>

    <ion-grid>
      <ion-row>
        <ion-col class="col" col-6>
          <img src="/assets/images/doge.jpg" class="card">
          <span class="co">Doge</span>
        </ion-col>
        <ion-col class="col" col-6>
          <img src="/assets/images/doge.jpg" class="card">
          <span class="co">Doge</span>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col class="col" col-6>
          <img src="/assets/images/doge.jpg" class="card">
          <span class="co">Doge</span>
        </ion-col>
        <ion-col class="col" col-6>
          <img src="/assets/images/doge.jpg" class="card">
          <span class="co">Doge</span>
        </ion-col>
      </ion-row>

      <ion-row class="fix-1">
        <ion-col class="col" col-6>
          <img src="/assets/images/doge.jpg" class="card">
          <span class="co">Doge</span>
        </ion-col>
        <ion-col class="col" col-6>
          <img src="/assets/images/doge.jpg" class="card">
          <span class="co">Doge</span>
        </ion-col>
      </ion-row>

    </ion-grid>

    <ion-col>
      <span class="rec">Recomendaciones</span>
    </ion-col>

    <ion-slides [options]="option">

      <ion-slide>
        <div>
          <img src="/assets/images/doge.jpg" class="rusel">
        </div>
        <div>
          <span class="co">Doge</span>
        </div>   
      </ion-slide>
      <ion-slide>
        <img src="/assets/images/doge.jpg" class="rusel">       
      </ion-slide>
      <ion-slide>
        <img src="/assets/images/doge.jpg" class="rusel">       
      </ion-slide>


    </ion-slides>


    <ion-grid>
      <ion-row>

    <ion-col class="fo" col-12>
      <img src="/assets/images/doge.jpg" class="foo">
      <Span class="Top">POPULARES EN MÉXICO</Span>
      <Span class="Top-2">Doge</Span>
    </ion-col>

      </ion-row>
    </ion-grid>

    <ion-slides [options]="option" class="foot-slide">

      <ion-slide>
        <div>
          <img src="/assets/images/doge.jpg" class="rusel">
        </div>
        <div>
          <span class="co">Doge</span>
        </div> 
        <div>
          <span class="Top-3">Podcast - Doge</span>
        </div>  
      </ion-slide>
      <ion-slide>
        <img src="/assets/images/doge.jpg" class="rusel">       
      </ion-slide>
      <ion-slide>
        <img src="/assets/images/doge.jpg" class="rusel">       
      </ion-slide>


    </ion-slides>



</ion-content>