ion-searchbar{
    border-radius: 6px;
    position: absolute;
    top: 122px;
}

span{
    letter-spacing: -0.3px;
    font-weight: bold;
    font-family: 'Open Sans';
    font-style: normal;
    color: #FFFFFF;
    font-size: 28px;
    line-height: 38px;
}

.buscar{
    position: absolute;
    top: 76px; left: 16px;
}