.image-box{
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 5%;
}

.bg{
    --background: #121212;
}

ion-title{
    align-items: center;
    background-color: #121212;
}

span{
    letter-spacing: -0.3px;
    font-weight: bold;
    font-family: 'Open Sans';
    font-style: normal;
    color: #FFFFFF;
    font-size: 28px;
    line-height: 38px;
}

.title{
    font-size: 20px;
    line-height: 27px;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 8px 0px;
}

.autor{
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    color: #B3B3B3;
}

.info{
    padding-left: 15%;
    padding-right: 15%;
}

.info-2{
    padding-left: 15%;
    padding-right: 15%;
    display: flex;
    justify-content: center;
}

.charge{
    font-size: 10px;
    line-height: 14px;
    text-align: center;
    color: #B3B3B3;
    display: flex;
    justify-content: left;
}

.charge-2{
    font-size: 10px;
    line-height: 14px;
    text-align: right;
    color: #B3B3B3;
    padding-left: 82%;
}

.ee{
    display: flex;
    justify-content: right;
}
